body {
    background-color: #f2f2f2;
}

#btn_back {
    margin: 10px 10px;
}

#up_table {
    border: 0.05px solid white;
    background-color: white;
}

.col {
    background-color: white;
    border: #ededed 0.02px solid;
    border-radius: 5px;
    padding: 20px;
    margin: 5px;
}

canvas {
    padding-top: 10px;
}

.chart-title {
    font-size: 15px;
}